{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nieuwe regel toevoegen aan rapport {{rapport.vgeAdres}}</h1>

    <form action="{{ path('adviesrapportregel_new', {'shortname': factory.getShortName(rapport), 'id': rapport.id} ) }}" method="post" {{ form_enctype(form) }}>
                {{ form_row(form.ruimte) }}
		{{ form_row(form.acties) }}
		<div id="actie_description" class="form_row"></div>
		{{ form_widget(form) }}
        <p>
            <button type="submit">Toevoegen</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('adviesrapport_show', {'shortname': factory.getShortName(rapport), 'id': rapport.id}) }}">
            terug naar het rapport
        </a>
    </li>
</ul>

<script type="text/javascript">
$(document).ready(function(){
    var ruimte = $("#adviesrapportregel_ruimte");
    ruimte.change( function() {
        $("#loader").show();
        var form = $(this).closest('form');
        var data = {};
        data['ruimte_id'] = ruimte.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : form.attr('action'),
            type: 'get',
            data : data,
            success: function(html) {
                // Replace current acties field
                $('#adviesrapportregel_acties').replaceWith($(html).find('#adviesrapportregel_acties'));
                $("#loader").hide();                
            }
        });
   }); 
});
</script>

{% endblock %}
