{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nieuwe regel toevoegen aan rapport {{rapport.vgeAdres}}</h1>

    <form action="{{ path('adviesrapportregel_create', {'shortname': factory.getShortName(rapport), 'id': rapport.id} ) }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.ruimte) }}
		{{ form_row(form.object) }}
		{{ form_row(form.actie) }}
		<div id="actie_description" class="form_row"></div>
		{{ form_widget(form) }}
        <p>
            <button type="submit">Toevoegen</button>
            <button type="submit" name="add_another_rule" value="add_another_rule">Toevoegen en nieuwe regel</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('adviesrapport_show', {'shortname': factory.getShortName(rapport), 'id': rapport.id}) }}">
            terug naar het rapport
        </a>
    </li>
</ul>

<script type="text/javascript">
$(document).ready(function(){
 
    $("#adviesrapportregel_ruimte").change( function() {
        $("#loader").show();
        $.ajax({
            type: "GET",
            data: "data=" + $(this).val(),
            url:"{{ path('adviesrapportregel_objects', {'shortname': factory.getShortName(rapport), 'id': rapport.id}) }}",
            success: function(msg){
                if (msg != ''){
                    $("#adviesrapportregel_object").html(msg).show();
										$("#adviesrapportregel_object option").prop('selected', '');
					{% if entity.object.id is defined %}
                    $('#adviesrapportregel_object option[value={{  entity.object.id }}]').prop("selected","selected");
					{% endif %}

                    if ($("#adviesrapportregel_object option").length == 2) {
                        $("#adviesrapportregel_object option:eq(1)").prop('selected', 'selected');
                    }
                    $("#loader").hide();
                }
                else
                {
                    $("#adviesrapportregel_object").html('<em>Geen objecten</em>');
                    $("#loader").hide();
                }
				$("#adviesrapportregel_object").trigger('change');
           }
       });
   }); 
   
   $("#adviesrapportregel_object").change( function() {
        $("#loader").show();
        $.ajax({
            type: "GET",
            data: "data=" + $(this).val(),
            url:"{{ path('adviesrapportregel_acties', {'shortname': factory.getShortName(rapport), 'id': rapport.id}) }}",
            success: function(msg){
                if (msg != ''){
                    $("#adviesrapportregel_actie").html(msg).show();
										$("#adviesrapportregel_actie option").prop('selected', '');
					{% if entity.actie.id is defined %}
                    $('#adviesrapportregel_actie option[value={{  entity.actie.id }}]').prop("selected","selected");
					{% endif %}
                    if ($("#adviesrapportregel_actie option").length == 2) {
                        $("#adviesrapportregel_actie option:eq(1)").prop('selected', 'selected');
                    }
                    $("#loader").hide();
                }
                else
                {
                    $("#adviesrapportregel_actie").html('<em>Geen acties</em>');
                    $("#loader").hide();
                }
                $("#adviesrapportregel_actie").trigger('change');
           }
       });
   }); 
   
   $("#adviesrapportregel_actie").change( function() {
		$('#actie_description').html('');
		var actie = $(this).find(":selected");
		if (actie.data('description')) {
			$('#actie_description').html('<label>Omschrijving</label><p>'+actie.data('description')+'</p>');
		}
		if (actie.data('verantwoordelijke').length > 0) {
			$("#adviesrapportregel_verantwoordelijke option[value='"+actie.data('verantwoordelijke')+"']").prop("selected", "selected");
		}
   });
   
   $("#adviesrapportregel_ruimte").trigger('change');
});
</script>

{% endblock %}
