{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ruimtes</h1>

    <table class="records_list">
        <tbody>
        {% for entity in entities %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td>
					<h3>{{ entity.naam }}</h3>
                    <a href="{{ path('objects', { 'ruimte': entity.slug }) }}" class="button success">Bekijk objecten</a>
                    <a href="{{ path('ruimtes_edit', { 'ruimte': entity.slug }) }}" class="button">Bewerk</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ruimtes_new') }}" class="button">Maak een nieuwe ruimte aan</a>
	
    {% endblock %}
