{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Openstaande adviesrapporten</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Contact</th>
				<th>VGE Adres</th>
                <th>HOV-nummer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
					<a href="{{ path('adviesrapport_show', { 'id': entity.id }) }}">
						{% for client in entity.clients %}
							{% if loop.index0 > 0 %}<br />{% endif %}
							{{client.displayName}}
						{% endfor %}
					</a>
				</td>
				<td>{{ entity.vgeAdres }}</td>
                <td>{{ entity.hovNummer }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('adviesrapport_show', { 'id': entity.id }) }}">Bekijk rapport</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	
    {% endblock %}
