<table class="records_list">
<thead>
    <tr>
        <th>Contact</th>
        <th>Datum</th>
    </tr>
</thead>
<tbody>
    {% for entity in entities %}
        <tr class="item-top {{ cycle(['odd', 'even'], loop.index) }}">
            <td colspan="2">
                {{ factory.getHumanName(entity) }}
            </td>
        </tr>
        <tr class="item-middle {{ cycle(['odd', 'even'], loop.index) }}">
            <td>
                {% for client in entity.clients %}
                    <p>{{client.displayName}}</p> 
                    <p>{{ entity.vgeAdres }}</p>
                {% endfor %}
            </td>
            <td>
                <p>{{ entity.date|date('d-m-y') }}</p>
                <p>{{ entity.date|date('H:i') }}</p>
            </td>
        </tr>
        <tr class="item-bottom {{ cycle(['odd', 'even'], loop.index) }}">
            <td colspan="1">
                <a href="{{ path(show_report_link, { 'shortname': factory.getShortname(entity), 'id': entity.id }) }}" class="button">Bekijk rapport</a>
            </td>
            <td>
                <a href="{{ path(close_report_link, { 'shortname': factory.getShortname(entity), 'id': entity.id }) }}" class="button success" onclick="return confirm('Weet u het zeker?');">Sluit rapport</a>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>