{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Adviesrapport</h1>

    <table class="record_properties adviesrapport">
        <tbody>
            <tr>
                <th>Contact</th>
                <td>{% for client in entity.clients %}
						<p>{{client.displayName}}</p>
					{% endfor %}
				</td>
				<th>Civi Dossier ID</th>
                <td>{{ entity.caseId }}</td>
            </tr>
			<tr>
                <th>VGE Adres</th>
                <td>{{ entity.vgeAdres }}</td>
                <th>VGE-Nummer</th>
                <td>{{ entity.vgeNummer }}</td>
            </tr>
			<tr>
                <th>HOV-Nummer</th>
                <td>{{ entity.hovNummer }}</td>
				<th></th>
				<td></th>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ entity.date|date("d-m-Y") }}</td>
            </tr>
        </tbody>
    </table>
	
	<h2>Adviezen</h2>
	
	<a href="{{ path('adviesrapportregel_new', {'rapport': entity.id} ) }}" class="button">Nieuw advies toevoegen</a>
	
	<table class="record_properties adviezen">
		<tbody>
			{% for regel in entity.regels %}
				<tr class="{{ cycle(['odd', 'even'], loop.index) }}">
					<td><p class="info"><span class="object">{{regel.actie.object.naam}}</span> in <span class="ruimte">{{regel.actie.object.ruimte.naam}}</span></p>
						<h3>{{regel.actie.actie}} {% if regel.verantwoordelijke|length %} <span class="verantwoordelijke">door {{regel.verantwoordelijke}}</span> {% endif %}</h3>
						<p>{{regel.actie.description}}</p>
						<p>{{regel.remark}}</p>
					</td>
					<td>
						<ul class="actions">
							<li><a href="{{ path('adviesrapportregel_delete', {'rapport': entity.id, 'id': regel.id} ) }}" onclick="return confirm('Weet u het zeker?');">Verwijderen</a></li>
						</ul>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
				
	<a href="{{ path('adviesrapportregel_new', {'rapport': entity.id} ) }}" class="button">Nieuw advies toevoegen</a>
	
	<form action="{{ path('adviesrapport_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="adviesrapport">
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="success">Opslaan</button>
			<a href="{{ path('adviesrapport') }}" class="cancel button">Terug naar overzicht.</a>
        </p>
    </form>
	
{% endblock %}
