{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ factory.getHumanName(entity) }}</h1>
    <form action="{{ path('adviesrapport_update', { 'shortname': factory.getShortName(entity), 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="adviesrapport">
        <table class="record_properties adviesrapport">
            <tbody>
                <tr>
                    {% for client in entity.clients %}
                        <th>Contact</th>
                        <td>

                            {{client.displayName}}
                            {% if (client.email) %}
                                ({{client.email}})
                            {% else %}
                                (<em>Geen e-mailadres bekend</em>)
                            {% endif %}
                            {% if (client.phone) %}
                                <br>Tel. <span class="phone">{{client.phone}}</span>
                            {% endif %}
                            <br /><br />
                        </td>
                        <th></th>
                        <td>                            <a href="{{ path('adviesrapport_show_client', {'shortname': factory.getShortName(entity), 'id': entity.id, 'client_id': client.id}) }}">Wijzig contact gegevens</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>VGE Adres</th>
                    <td>{{ entity.vgeAdres }}</td>
                    <th>VGE-Nummer</th>
                    <td>{{ entity.vgeNummer }}</td>
                </tr>
                <tr>
                    <th>HOV-Nummer</th>
                    <td>{{ entity.hovNummer }}</td>
                    <th>Civi Dossier ID</th>
                    <td>{{ entity.caseId }}</td>
                </tr>
                <tr>
                    <th>Verwachte einddatum</th>
                    <td>{{ entity.expectedEndDate|date("d-m-Y") }}</td>
                    <th>Datum gesprek</th>
                    <td>{{ entity.date|date("d-m-Y H:i") }}</td>
                </tr>
            </tbody>
        </table>
                
        <div>
            <h2>Bijlages</h2>
            <ul class="actions">
            {% for attachment in entity.attachments %}
                <li><a href="{{ path('adviesrapportregel_download', {'shortname': factory.getShortName(entity), 'id': entity.id, 'fileid': attachment.id} ) }}">{{attachment.filename}}</a></li>
            {% endfor %}
            </ul>
        </div>

        <div>
            <h2>Info voor afdeling verhuur</h2>
            <p>{{entity.opmAfdVerhuur}}</p>
            <p><a class="" href="{{ path('adviesrapport_show_afdverhuur', {'shortname': factory.getShortName(entity), 'id': entity.id}) }}">Wijzig info voor afdeling verhuur</a></td></p>
        </div>
        <br />
        <h2>Adviezen</h2>

        <a href="{{ path('adviesrapportregel_new', {'shortname': factory.getShortName(entity), 'id': entity.id} ) }}" class="button">Nieuw advies toevoegen</a>

        <table class="record_properties adviezen">
            <thead>
                <tr>
                    <th class="ruimte">Ruimte</th>
                    <th class="object">Object</th>
                    <th class="advies">Advies</th>
                    <th class="verantwoordelijke">Verantwoordelijke</th>
                    {% if showStatus %}<th class="status">Ruimte</th>{%  endif %}
                    <th class="verwijderen">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for regel in entity.regels %}
                    <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                        <td class="ruimte"><p class="info"><span class="ruimte">{{regel.ruimte}}</span></p></td>
                        <td class="object"><p class="info"><span class="object">{{regel.object}}</span></p></td>
                        <td class="advies">
                            <h3><a href="{{ path('adviesrapportregel_edit', {'shortname': factory.getShortName(entity), 'id': entity.id, 'rule_id': regel.id} ) }}">{{regel.actie}}</a></h3>
                            <p>{{regel.actieRemark}}</p>
                            <p>{{regel.remark}}</p>
                        </td>
                        <td class="verantwoordelijke">{% if regel.verantwoordelijke|length %}<span class="verantwoordelijke">{{regel.verantwoordelijke}}</span>{% endif %}</td>
                            {% if showStatus %}
                                <td class="status">
                                <select name="status[{{regel.id}}]">
                                    <option value=¨>-</option>
                                    <option value="Akkoord" {% if regel.status == 'Akkoord' %}selected="selected"{% endif %} >Akkoord</option>
                                    <option value="Niet akkoord" {% if regel.status == 'Niet akkoord' %}selected="selected"{% endif %}>Niet akkoord</option>
                                    <option value="Overname" {% if regel.status == 'Overname' %}selected="selected"{% endif %} >Overname</option>
                                    <option value="Niet van toepassing" {% if regel.status == 'Niet van toepassing' %}selected="selected"{% endif %} >Niet van toepassing</option>
                                </select>
                                </td>
                            {% endif %}
                        <td>
                            <ul class="actions">
                                <li><a href="{{ path('adviesrapportregel_delete', {'shortname': factory.getShortName(entity), 'id': entity.id, 'entity_id': regel.id} ) }}" onclick="return confirm('Weet u het zeker?');">Verwijderen</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('adviesrapportregel_new', {'shortname': factory.getShortName(entity), 'id': entity.id} ) }}" class="button">Nieuw advies toevoegen</a>

        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" name="back_to_overview" value="back_to_overview" class="success button">Terug naar overzicht.</button>
        </p>
    </form>

{% endblock %}
