{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bewerk {{entity.naam}}</h1>
	
	    <ul class="record_actions">
    <li>
        <a href="{{ path('objects', {'ruimte': ruimte.slug}) }}">
            Terug naar overzicht
        </a>
    </li>
	</ul>

    <form action="{{ path('objects_update', { 'object': entity.slug, 'ruimte': ruimte.slug }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Opslaan</button>
        </p>
    </form>
    
        <form action="{{ path('objects_delete', { 'object': entity.slug, 'ruimte': ruimte.slug }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Verwijder object</button>
        </form>
{% endblock %}
